@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.3;  
}

/* HTML Elements */

html, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scroll-behavior: smooth !important;
  scrollbar-color: #a27035 #f3f1ec;
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
  background: #f3f1ec;
  background-color: #f3f1ec;
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: #a27035;
  background-color: #a27035;
}

body, h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  background: #f3f1ec;  
  color: #222;
  overflow-x: hidden;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #a27035; 
  font-family: "Playfair Display", serif;
  font-weight: bold;  
  line-height: 1.6;  
}

h1 { 
  font-size: 3rem;  
}

h2 {
  font-size: 2.2rem;  
}

h3 {
  font-size: 1.8rem;  
}

p {
  font-size: 1.2rem;  
  margin: 0.5rem;
}

section {
  opacity: 0;
  transform: translate(0, 20px); 
  transition: all 1s;
}

section.visible {
  opacity: 1;
  transform: translate(0, 0); 
}

/* IDs */

#about-me, #about-me * {
  opacity: 1 !important;
}

#apps img {
  
}

#contact {
  background: url('../img/IMG_5816.JPG') center center; 
  background-size: cover;
}

#websites, #apps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 0px;
}

#websites figure, #apps figure {
  margin: 0;
  padding: 0;
}

#websites section, #apps section {
  padding-bottom: 0;
}

/* Classes */

.bg-white { background: #fff; }

.bold { font-weight: bold; }

.btn {
  border-radius: 0rem;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.btn--full {
  display: flex; 
  justify-content: center;
}

.btn--half { width: 50%; text-align: center; }

.btn:hover { 
  background: #a27035;
  box-shadow:  0px 0px 0.8rem #fff;
  color: #fff;  
}

.btn__primary {
  background-color: #fff;
  box-shadow: 0 0.2rem 0.1rem rgba(51,51,51,.05),0 0.4rem 0.8rem rgba(63,42,3,.3); 
  color: #222;
  margin-top: 2.5rem;
}

.btn__default {
  background-color: #a27035;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.btn__blog {
  background-color: #1fe9ae;
  color: #111;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.btn__blog:hover {
  background-color: #1fe9ae;
  color: #111;
}

.btn__blog--enlarge {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn__blog--enlarge:hover {
  transform: scale(1.05);
}

.footer {
  background: #a27035;
  color: #fff;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 1rem;
}

.header {
   background: #fff;
   border-bottom: 0.15rem solid #a27035;
   display: flex;
   align-items: center;
   justify-content: flex-start; 
   height: 7.5rem;
   position: sticky;
   top: 0;
   z-index: 1;
}

.header ul li {
  vertical-align: middle;
}

.header__item {
   display: inline-flex; 
   font-size: 1.1rem;
   padding: 1.4rem;
   position: relative;
   margin-left: 2rem;
}

.header__item:hover {
  cursor: pointer; 
}

.header__item a {
  color: #222;  
  text-decoration: none;  
}

.heading--underline {
  background: #a27035;
  background-color: #a27035;
  border-color: #a27035;
  margin: 0 auto;
  width: 100px;
}

.hide { display: none !important; }

.large-font {
  font-size: 1.6rem;
}

.light-gray { color: #777; }

.section {
  padding-bottom: 5rem;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.section-container--column {
  flex-direction: column;
}

.section-container--size-limiter {
  width: 880px;   
  max-width: 100%;  
}

.section__image {
  height: auto;
  width: 100%
}

.section__image-zoom-container {
  overflow: hidden !important;
}

.section__image--zoom {
  transition: all 1s ease-in-out;
}

.section__image--zoom:hover {
  transform: scale( 1.2 );
}

.section__large {
  display: inline-flex;
  flex: 1 0 65%;
  flex-direction: column;
  padding: 5rem;
  padding-left: 5%;
}

.section__small {
  display: inline-flex;
  flex: 1 0 35%;
}

.selfie {
  max-height: 600px;  
}

.show { display: inherit !important; }

.text-center { text-align: center; }

/* Desktops & Large Tablets */

@media only screen and ( min-width: 761px )
{
  .header__item::after {
    background: #a27035;
    content: "";
    height: 4px;
    width: 0%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    border-radius: 10px;
    transition: all 500ms ease-in-out;
  }
  
  .header__item:hover::after {
    left: 0%;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .padding-b { padding-bottom: 8rem !important; }

  .padding-t { padding-top: 10rem; }

  .padding-tb { padding-bottom: 5rem; padding-top: 10rem !important; }

}

/* Tablets and Smartphones */

@media only screen and ( max-width: 760px )
{

  #about-me .section__large {
    padding: 2rem 0;
  }

  #about-me, #contact, #websites, #apps {
    justify-content: normal;
    padding: 2rem;
    text-align: center;
  }

  #contact {
    flex-direction: column-reverse;
  }

  #contact .btn__primary { width: 100%; }

  #contact .section__large {
    padding: unset;
  }

  #websites, #apps {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .header { 
    position: unset;
    
  }

  .header__item {
    margin: 0;
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
    width: 100%;
  }

  .header__item:hover, .header__item:active { 
    background: #a27035;
    opacity: 1; 
  }

  .header__item:hover a { color: #fff; }

  .section-container {
    flex-wrap: wrap;
  }

  .section__large, .section__small {
    display: flex;
    flex: 1 0 100%;
  }

}