@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  line-height: 1.3;
}

/* HTML Elements */

html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scroll-behavior: smooth !important;
  scrollbar-color: #a27035 #f3f1ec;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  background: #f3f1ec;
  background-color: #f3f1ec;
  display: none;
}

body::-webkit-scrollbar-thumb {
  background: #000;
  background-color: #000;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

a,
li,
p {
  font-size: 1.2rem;
  margin: 0.5rem;
}

section {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 1s;
}

section.visible {
  opacity: 1;
  transform: translate(0, 0);
}

/* IDs */

#about-me,
#about-me * {
  opacity: 1 !important;
}

#contact {
  background: url("../img/delicate-arch-night-stars-landscape.jpg") center
    center;
  background-size: cover;
  margin-top: 5rem;
}

#contact .section__small {
  color: #000;
}

#websites,
#apps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  grid-gap: 0px;
}

#websites figure,
#apps figure {
  margin: 0;
  padding: 0;
}

#websites section,
#apps section {
  padding-bottom: 0;
}

/* Classes */

.bg-white {
  background: #fff;
}

.bold {
  font-weight: bold;
}

.btn {
  border-radius: 0rem;
  cursor: pointer;
  display: inline-block;
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.btn--full {
  display: flex;
  justify-content: center;
}

.btn--half {
  width: 50%;
  text-align: center;
}

.btn:hover {
  background: #000;
  box-shadow: 0px 0px 0.8rem #fff;
  color: #fff;
}

.btn__primary {
  background-color: #fff;
  color: #222;
  margin-top: 2.5rem;
}

.btn__default {
  background-color: #000;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.btn__blog {
  background-color: #000;
  color: #fff;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  opacity: 0.8;
}

.btn__blog:hover {
  background-color: #000;
  opacity: 1;
}

.btn__blog--enlarge {
  display: flex;
  justify-content: center;
  text-align: center;
}

.btn__blog--enlarge:hover {
  transform: scale(1.05);
}

.contact-section-container {
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 2rem;
}

.contact-section-container .btn {
  border-radius: 0.5rem;
  display: block;
  margin: 1.5rem auto;
}

.contact-section-container h2 {
  color: #000;
}

.footer {
  background: #000;
  border-top: 0.15rem solid #fff;
  color: #fff;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 1rem;
}

.header {
  background: #000;
  border-bottom: 0.15rem solid #fff;
  height: 7.5rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

header ul {
  display: flex;
  align-items: center;
}

.logo-container img {
  padding-bottom: 1rem;
}

.logo-container {
  flex-grow: 1;
}

.navlinks-container {
  flex-grow: 0;
  margin-right: 2rem;
}

.navlinks-container a {
  color: #fff !important;
}

.navlinks-container a:hover {
  opacity: 0.7;
}

.navlinks-container a:hover {
  color: #222 !important;
}

.header ul li {
  vertical-align: middle;
}

.header__item {
  display: inline-flex;
  font-size: 1.1rem;
  padding: 1.4rem;
  position: relative;
  margin-left: 2rem;
}

.header__item:hover {
  cursor: pointer;
}

.header__item a {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
}

.header__item a:hover {
  color: #1fe9ae !important;
}

.heading--underline {
  background: #fff;
  background-color: #fff;
  border-color: #fff;
  margin: 0 auto;
  width: 100px;
}

.hide {
  display: none !important;
}

.large-font {
  font-size: 1.6rem;
}

.light-gray {
  color: #777;
}

.section {
  padding-bottom: 5rem;
}

.section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  padding-top: 1rem;
}

.section-container--column {
  flex-direction: column;
}

.section-container--size-limiter {
  width: 880px;
  max-width: 100%;
}

.section__image {
  height: auto;
  width: 100%;
}

.section__image-zoom-container {
  overflow: hidden !important;
}

.section__image--zoom {
  transition: all 1s ease-in-out;
}

.section__image--zoom:hover {
  transform: scale(1.2);
}

.section__large {
  display: inline-flex;
  flex: 1 0 65%;
  flex-direction: column;
  padding: 5rem;
  padding-left: 5%;
}

.section__small {
  display: inline-flex;
  flex: 1 0 35%;
}

.selfie {
  max-height: 600px;
}

.show {
  display: inherit !important;
}

.skills-container {
  background-color: #000;
  color: #222;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5rem 0rem 10rem 0rem;
}

.skills-container h2,
.skills-container h3 {
  color: #222;
}

.skills-container__header {
  color: #fff !important;
  margin-bottom: 3rem;
  text-decoration: underline;
  width: 100%;
}

.skills-container li {
  font-size: 1.4rem;
  list-style: none;
}

.skills-container div {
  background: #fff;
  border: solid 1px white;
  border-radius: 1rem;
  padding: 2rem;
  width: 350px;
  max-width: 100%;
  margin: 2rem auto;
}

.text-center {
  text-align: center;
}

/* Desktops & Large Tablets */

@media only screen and (min-width: 761px) {
  .contact-section-container {
    margin-left: 3rem;
  }

  .padding-b {
    padding-bottom: 8rem !important;
  }

  .padding-t {
    padding-top: 10rem;
  }

  .padding-tb {
    padding-bottom: 5rem;
    padding-top: 10rem !important;
  }
}

/* Larger Tablets and Smaller Laptops/Computers */
@media only screen and (max-width: 960px) {
  .contact-section-container .btn--half {
    width: 100%;
  }
}

/* Tablets and Smartphones */

@media only screen and (max-width: 760px) {
  #about-me .section__large {
    padding: 2rem 0;
  }

  #about-me,
  #contact,
  #websites,
  #apps {
    justify-content: normal;
    padding: 2rem;
    text-align: center;
  }

  #contact {
    flex-direction: column-reverse;
  }

  #contact .btn__primary {
    width: 100%;
  }

  #contact .section__large {
    padding: unset;
  }

  #websites,
  #apps {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }

  .header {
    position: unset;
  }

  .header ul {
    flex-flow: column;
  }

  .header__item {
    margin: 0;
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
    width: 100%;
  }

  .section-container {
    flex-wrap: wrap;
  }

  .section__large,
  .section__small {
    display: flex;
    flex: 1 0 100%;
  }

  .skills-container {
    flex-flow: column wrap;
    margin: 1rem 1rem;
    padding: 2rem;
  }

  .skills-container li {
    margin: 1rem auto;
  }
}
