  /*Imports*/
  @import url('https://fonts.googleapis.com/css?family=Jura|Share+Tech+Mono|Teko');

  /*Variables*/
  $list-font: 'Teko', sans-serif;
  $primary-font: 'Share Tech Mono', monospace;
  $secondary-font: 'Jura', sans-serif;
  $primary-font-color: #1b1b1b;

  /*General Elements*/
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  body {

    color: $primary-font-color !important;

    button {
      font-weight: bold !important;
      &:hover {
        cursor: default;
      }
    }

    footer {
      background-color: #444;
      h1 {
        color: #fff;
      }
      i {
        color: #fff;
        font-size: 3em;
        margin: 1em;
        &:hover {
          color: #007bff;
        }
      }
    }

    h1,h2,h3 {
      font-family: $primary-font;
      font-weight: bolder;
    }

    hr {
      background-color: $primary-font-color;
      color: $primary-font-color;
    }

    h3 {
      color: $primary-font-color;
      font-family: $secondary-font;
    }

    main div {
      margin-top: 2rem;
      margin-bottom: 4rem;
    }

    .tech-used {
      margin-bottom: 4rem;
      margin-top: 8rem;
      text-align: center;
    }

  }
  /*Classes*/
  .centered {
    display: table;
    margin: 0 auto;
    position: relative;
    top: 5rem;
  }

  .centered button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .centered-about {
    display: table;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 5rem;
  }

  .d-inline-block {
    display: inline-block;
  }

  .hr-about {
    background-color: #444;
    color: #444;
    height: 0.25em;
  }

  .hr-main {
    background-color: #444;
    color: #444;
    height: 0.25em;
    width: 50%;
  }

  .my-email {
    i {
      font-size: 1.5em;
    }
  }

  .navbar {
    background-color: $primary-font-color;
    border-bottom: 2px solid #FFF;
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    text-align: center;
  }

  .nav-link {
    &:hover {
      color: #fff !important;
      opacity: 1.0 !important;
    }
  }

  .skills-page {
    p {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  /*Media Queries*/

  /*Tablets*/
  @media only screen and (min-width: 768px) and (max-width: 1023px) {

    /*centers buttons*/
    span {
      left: 15%;
      position: relative;
    }
  }
  /*Laptops/PCs*/
  @media only screen and (min-width: 1024px) {

    /*centers buttons*/
    span {
      left: 25%;
      position: relative;
    }
  }
